// Body

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$font-family-base: 'Prompt', sans-serif;


$bg-primary:#200122;
$bg-secondary:#6f0000;
$bg-header: #6f0000;
$bg-footer:#6f0000;

$btnlogin:#ffc937;
$text-highlight:#ffc937;
$active-color:#ffc937;
$btn-theme:#434343;
$text-base:#fff;
