@import 'variables';

//@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './build/scss/adminlte';
//@import '~sweetalert2/src/sweetalert2.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '~daterangepicker/daterangepicker.css';
@import 'sheet/grid';
//@import "variablesnew";
@import "table";
@import "style";

@import "layout";
@import "content";


.img-bank {
    width: 40px;
    height: 40px;
}

.hidden {
    display: none;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.with-arrow {
    position: relative;
    cursor: pointer;
}

.with-arrow::after {
    content: "\f107";
    color: #333;
    top: 2px;
    right: 0px;
    position: absolute;
    font-family: "FontAwesome"
}

.with-arrow[aria-expanded="true"]::after {
    content: "\f106";
}

.with-arrow2 {
    position: relative;
    cursor: pointer;
}

.with-arrow2::after {
    content: "\f107";
    color: #333;
    top: 0.65rem;
    right: 0px;
    position: absolute;
    font-family: "FontAwesome"
}

.with-arrow2[aria-expanded="true"]::after {
    content: "\f106";
}

.btn-trans-light:hover {
    color: rgba(255, 255, 255, .6);
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.btn-trans-light {
    color: rgba(255, 255, 255, .4);
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .2);
}

.transfer-slide-balance {
    color: white;
}

.transfer-slide-img {
    margin-bottom: 5px;
    border: 1px solid hsla(0, 0%, 100%, .3);
}

.pointer {
    cursor: pointer;
}

.h-90 {
    height: 90px !important;
}

.w-90 {
    width: 90px !important;
}

.mt-1 {
    margin-top: 1em;
}

.back-to-top {
    bottom: 4rem;
    position: fixed;
    right: 1.25rem;
    z-index: 1032;
    cursor: pointer;
}

.the_wheel {
    background-image: url(../../../assets/images/spin_img/wheel_back.png);
    background-position: center;
    background-repeat: no-repeat;
}

#spinwheel {

    background: url(../../../assets/images/spin_img/wheel_back.png) 0 50% no-repeat;
    background-size: cover !important;

}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent !important;
    border: 1px solid rgba(0, 0, 0, .125);
}

.img-fix-size {
    width: 110px;
    height: 100px;
}

a:hover {
    color: #ffc937;
    text-decoration: none;
    background-color: transparent;
}


.swal2-container {
    z-index: 10000 !important;
}


.box-border {
    border: 1px solid #ccc !important;
    border-radius: 1em !important;
    padding: 10px !important;
    background-color: hsla(0, 0%, 80%, 0) !important;
}

.daterangepicker {
    z-index: 10000;
}

.owl-carousel.owl-drag .owl-item.center {
    border: 1px solid #ccc!important;
    border-radius: 1em!important;
    padding: 10px!important;
    background-color: hsla(0,0%,80%,0)!important;
}

.owl-expansion-panel {
    background: #e4e4e4!important;
    border-radius: 5px;
}

.owl-expansion-panel {
    display: block;
    box-sizing: content-box;
    margin: 0;
    transition: margin 225ms cubic-bezier(.4,0,.2,1);
    color: rgba(0,0,0,.85);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.owl-expansion-panel-header-description {
    display: inline!important;
}
