@import 'node_modules/bootstrap/scss/bootstrap.scss';

body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: Prompt, sans-serif !important;
    background: linear-gradient(45deg, #200122 10%, #6f0000 90%);
}

.wrapper, body, html {
    min-height: 100%;
}

.bg-login {
    color: #fff;
    height: 100vh !important;
    font-size: 14px;

    overflow-x: hidden !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}

.nav-footer, .nav-top {
    background: #6f0000;
}

.h-40 {
    height: 40px !important;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

header img {
    width: 130px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -17px;
    left: 0;
    right: 0;
    border-radius: 20em;
}

.my-login-page .brand {
    overflow: hidden;
    border-radius: 1rem;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    z-index: 1;
}

.card {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .5) !important;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .68);
}

.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-header {
    margin-bottom: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

.input-group-prepend span {
    width: 50px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    border: 0 !important;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

form .input-group-text {
    width: 40px;
    text-align: center;
    clear: both;
    justify-content: center;
}

.login_btn {
    background-color: #ffc937 !important;
    color: #fff !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-footer {
    background: 0 0;
    border: 0;
}

.no-padding {
    padding: 0px
}

.main-footer {
    border: 0;
}

.main-footer {
    background: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
}

.navigation {
    position: fixed;
    display: flex;
    z-index: 9999;
    bottom: 0;
    width: 100%;
}

.navigation-nav {
    display: flex;
}

.navigation-nav .list-inline-item {
    display: flex;
    flex: 1;
    font-size: .8rem;
    font-weight: 400;
    justify-content: center;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}

.navigation a {
    color: #fff;
    margin-bottom: 5px;
}

a:hover {
    color: #ffc937;
    text-decoration: none;
}

a.active, a.active i, a.active p {
    color: #ffc937!important;
}

.navigation i {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #fff;
    padding: 5px;
}

.exchange {
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid #ccc;
    bottom: 20px;
    color: #033!important;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.list-inline-item p {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -22px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.1);
}

.exchange i {
    color: #fff;
    margin-top: 8px;
}

